<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <h1>Model Implementations</h1>
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        Testing the different Modules
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" href="/customers" target="_blank">show customers</a>
        <a class="btn btn-success btn-lg" href="/customers/create" target="_blank">create customers</a>
      </p>


    </div>
  </div>




</section>
